body{
    background-color:white;
    display:block; 
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bg-light {
    background-color:white!important;
    border-bottom: 1px solid lightgray;
}


.navbar-dark .navbar-brand{
    color: red;
}
h1 {
    border-bottom: 2px solid white;
    background-color: transparent;
}
.container {
    padding: 20px;
    margin-top: 10px;
}